[general]
log_level=DEBUG

[mqtt]
broker_ip=192.168.27.168
client_id=matrix
user=domroon
password=MPCkY5DGuU19sGgpvQvgYqN8Uw0

[lcd]
i2c_addr=0x27
total_rows=2
total_columns=16
scl_pin=25
sda_pin=26

[modis]
modis=None

[matrix]
width=16
height=16
gpio_pin=33

[buttons]
menu=14
up=36
down=39
right=35
enter=32
fallback=27

[weather]
base_url=https://api.openweathermap.org/data/2.5/weather?
owm_key=3a9a45b1d4bcf93686f67e679d86e263
owm_lat=51.44328996681601
owm_lon=7.353236392707616
owm_units=metric
owm_lang=de

[network]
ap0.ssid=AlphaCentauri
ap0.pw=6ER6bXskskZ
ap1.ssid=Freifunk
ap1.pw=None